body {
  margin: 0 auto;
}

header {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  border-top: 4px solid #219E62;
}
 
.title {
  margin-right: 230px;
  margin-left: 200px;
}
 
.menu-item {
  list-style: none;
  display: inline-block;
  padding: 3px;
  text-decoration: none;
}

.back-pic {
  width: 1450px;
  height: 445px;
}

.back-pic__in {
  margin-left: 220px;
  margin-right: 220px;
  height: 445px;
  width: 1000px;
}

.back-text-center {
  width: 1000px;
  height: 110px;
}

.back-text-center-in {
  width: 1000px;
  height: 95px;
}

.text {
  color: white;
  text-shadow: 0 3px 6px #333;
  text-align: center;
  font-weight: bold;
  font-size: 45px;
  margin-top: 0px;
}

.text-two {
  color: white;
  text-shadow: 0 3px 6px #333;
  text-align: center;
  font-weight: bold;
  font-size: 45px;
  margin-top: 0px;
}

.serch {
  width: 1000px;
  height: 60px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.jimoty-logo {
  width: 120px;
  height: 35px;
}

.serch-left-contents {
  width: 250px;
  height: 35px;
}

.serch-center-contents {
  margin-left: 24px;
  width: 555px;
  height: 40px;
}


.input-group {
  /* width: 555px;
  height: 40px; */
  display: flex;
}



.select-box {
  width: 160px;
  height: 40px;
}

.serch {
  width: 555px;
  height: 40px;
}

.prefecture {
  width: 100px;
  height: 20px;
  margin-left: 8px;
  float: right;
}

.prefecture-in {
  width: 100px;
  height: 20px;
  font-weight: bold;
  padding-top: 5px;
}

.prefecture-text {
  color: #06C;
  text-decoration: none;
}