.link-gray {
  color: gray;
  text-decoration: none;
}
.first-btn {
  color: blue;
  text-decoration: none;
}
.rogin-btn {
  color: blue;
  text-decoration: none;
}
.regist-btn {
  color: green;
  text-decoration: none;
  border: 1, 1px;
  background-color: white;
  padding: 0.5rem;
  border: 1px solid #219E62;
  border-radius: 5px;
}

